h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: red;
}
.main{
    max-width: 800px;
    height: 500px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.part{
    width: 100px;
    height: 350px;
    background-color: brown;
    border: 1px solid white;
}
.partfirst{
    width: 100px;
    height: 350px;
    background-color: brown;
    border: 1px solid white;
}
.parttwo{
    width: 100px;
    height: 350px;
    background-color: brown;
    border: 1px solid white;

}